<div class="navbar">
  <a class="active" href="/inicio" title="Inicio"> Inicio</a> 
  <a href="/nosotros" title="Nosotros"> Nosotros</a> 
  <a href="/noticias" title="Noticias"> Noticias</a> 
  <a href="/contactos" title="Mision"> Contactos</a>
  <a href="/metas" title="Vision"> Metas</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<div class = "main_title"><p>Nuestras redes sociales</p></div>

<section class = "pics">
<a target="_blank" href = "https://www.facebook.com/IEEEVTSUNI/" id ="fb"><%= image_tag "redeslogo/facebooklogo.png",title: "Facebook", style: 'height:16vh;float: none;'%></a>
<a target="_blank" href = "https://www.instagram.com/ieeevtsuni/" id ="in"><%= image_tag "redeslogo/instagramlogo.png",title: "Instagram", style: 'height:16vh;float: none;'%></a>
<a target="_blank" href = "https://www.linkedin.com/company/ieee-vts-uni/" id ="li"><%= image_tag "redeslogo/linkedinlogo.png",title: "LinkedIn", style: 'height:16vh;float: none;'%></a>
</section>
